<h1>Git</h1>

<p>

<h3>Initilize and release</h3>

<%=raw show_shell "git init" %>

<%=raw show_shell "git add ." %>

<%=raw show_shell "git commit -m \"init\"" %>

<%=raw show_shell "git remote add origin git@github.com:git_account/gitname.git" %>

<%=raw show_shell "git push origin master" %>

</p>

<h3>Work</h3>

<p>

<%=raw show_shell "git add ." %>

<%=raw show_shell "git commit -am \"commit message\"" %>

<%=raw show_shell "git checkout master" %>

<%=raw show_shell "git push" %>

<%=raw show_shell "git branch -d branchname" %>

</p>






</p>