<!DOCTYPE html>
<html>
  <head>
    <title>Rails Tutorial | <%= @title %></title>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  </head>
  <body>
    <div class="table">
      <div class="row">
        <div class="cell">
          <%= link_to image_tag("logo2.png", :alt => "Logo", :class => "logo"), root_path %>
        </div>
        <div class="cell nav ">
          <div class = "justNav round siteA">
            <%= link_to "Home", root_path %><br/>
            <%= link_to "Sitemap", sitemap_path%><br/>
          </div>
        </div>
        <div class="cell nav ">
          <div class = "justNav2 round siteA">
            <%= link_to "Git", git_path %><br/>
            <%= link_to "Heroku", heroku_path%><br/>
            <%= link_to "Other Tools", other_tools_path%><br/>
          </div>
        </div>
        <div class="cell nav ">
          <div class = "justNav3 round siteA">
            <%= link_to "Projectwide stuff", projectwide_stuff_path %><br/>
            <%= link_to "Static Pages", static_pages_path %><br/>
            <%= link_to "Model", models_path%><br/>
          </div>
        </div>
      </div>
    </div>
    <div class="section round">
      <%= yield %>
    </div>

    <div class="footer round siteA">
      <%= link_to "Contact", contact_path %> |
      <%= link_to "References", references_path %> 
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
